<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ database_name }}');

/** MySQL database username */
define('DB_USER', '{{ user_name }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ password }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8mb4');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
{% raw %}
define('AUTH_KEY',         'LsCxPy_B*GTU}^sS(5L]5C1ClG1Y]f])P0y08xEe0<>j0@C;7X(aX3@Y/aY;[c`Q');
define('SECURE_AUTH_KEY',  'v7&0wmEV/QEd~~1w*LtSG27hMY=i1Hy:TV>jPT^1E13NZ+(A9556P5uGD7QeRT(A');
define('LOGGED_IN_KEY',    ',kV<z)6e5W,b 0nT])*Yy{{.t>pS*C<i~-IpoO=qL7DkU:3hi+pVw;+jSuNv8v*j');
define('NONCE_KEY',        't7TFNAeTQG!92S;dnl{5+[@gKZu(B59.n>~of;YJb{wM5L1~}9$$.jr_ep:I|2@l');
define('AUTH_SALT',        '5qt=s}9T7~OPNlbn|0oZh_,Sht],<OySsn=s-@`E6GW}ptlM#S+8<3Hbej[::>*)');
define('SECURE_AUTH_SALT', 'B)+{*;d,bh+Bx5bIn7ZElPjd#nO(tB*f3}Lmm7{EWnIq0P^DN!&6`h0@<lZ9!Fgt');
define('LOGGED_IN_SALT',   'e^5)x58vm/h{0_[XWM9*T+m.-Gnd}@l7)|y}ps?]8)2}6[Gvy?HqqU(M9EW?0x%|');
define('NONCE_SALT',       'b+9rJ~<`$M1Bbg&R*2:Ge:3T/^n*Jg$KFqv;uLHXyP|3tb.B;h{ug.#=ZQVHG jm');
{% endraw %}
/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */
{% raw %}
/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
{% endraw %}